server {
    listen       ${NGINX_PORT};
    listen       [::]:${NGINX_PORT};
    server_name  _;

    root   /usr/share/nginx/html;
    index  index.html index.htm;

    location ~ ^/(status|tasks|login|settings|jobs|events|thumbnails)(/|$) {
        proxy_pass ${API_PROXY_TARGET};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 300s;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
